:root {
  --main-text-color: #000000;
}

body {
  background-image: url('https://wallpaper.dog/large/20571972.jpg');
  background-size: contain;
  backrgound-position: right 50% bottom 50%;

  color: var(--main-text-color);
}
.container {
  padding: 30px;
}

.title {
  font-family: 'Alkatra', cursive;
}

#map{
    transform: scale(0.5);
}

.weather-wrap {
  display: flex;
  justify-content: space-between;

  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;

  background-color: rgba(255, 215, 0, 0.3);
  /* max-width: 600px; */
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.wether-data-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
  gap: 20px;
}

.weather-list {
  display: inline-block;

  margin: 0;
  padding: 15px 20px;
  line-height: 1.5;

  list-style: none;
  background-color: rgba(255, 215, 0, 0.3);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.weather-description {
  margin: 0 20px 0 0;
  padding: 15px 20px;

  max-width: 220px;

  background-color: rgba(255, 215, 0, 0.3);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.descr-title {
  margin: 0;
}

.weather-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.time-list {
  list-style: none;
}

.time-wrap {
  display: block;
}
